*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/
/.idea
.idea/
.idea
.DS_Store
/build
/build/
/app/build
/app/build/
/gradle
/gradle/
/gradle
gradle/
gradle
/captures
.externalNativeBuild
